<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- General -->
  <category label="30000">
    <setting id="signlang" label="30001" type="bool" default="false" />
    <setting id="subtitle" label="30002" type="bool" default="false" />
    <setting id="viddesc" label="30003" type="bool" default="false" />
  </category>
</settings>
